<%- include("common/head.ejs") -%>

<div class="row col-12 d-flex justify-content-center form-container mt-5">
    <div id="log" class="hidden">  
    </div>
    <div class="m-3">
        <div class="col-12 d-flex justify-content-center">
            <p>Name</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <input class="name" type="text">
        </div>
    </div>
    <div class="m-3">
        <div class="col-12 d-flex justify-content-center">
            <p>Password</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <input class="password" type="password">
        </div>
    </div>
    <div class="m-3">
        <div class="col-12 d-flex justify-content-center">
            <input type="button" onclick="send_form_data(this,'/user/login')" value="Submit">
        </div>
    </div>
</div>
<script src="/scripts/script.js"></script>

    <%- include("common/foot.ejs") -%>