<div class="user_header col-12 row">
    <div class="col-8">
    </div>
    <div class="col-4 row">
        <div class="col-6 d-flex justify-content-end">
            <a href="/problem/new">Add problem</a>
        </div>
        <div class="col-6">
            <a href="/problem/list/<%= data.user_id%>">List of your problems</a>
        </div>
    </div>
</div>