@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); /* font-family: 'Quicksand', sans-serif; */

body
{
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: rgb(20, 82, 61);
    /*Box shadow*/
    -webkit-box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
header h1
{
    font-weight: 300;
}
header a, header h1
{
    text-decoration: none;
    color: white;
    transition: 200ms;
}

header a:hover
{
    color: white;
    transform: scale(1.1);
}

input[type="button"]
{
    background-color: transparent;
    border-color: transparent;
}


#log
{
    -webkit-box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.75);
    background-color: rgb(8, 108, 58);
    padding: 10px;
    color:white;
    text-align: center;
    position: fixed;
    width: 300px;
    top: 40px;
    z-index: 10; 
    border-radius: 5px;
}


@keyframes hide_effect 
{
    0% 
    {
        opacity: 1;
    }
    100% 
    {
        opacity: 0;
        visibility: hidden;
    }
}
html body .hidden
{
    animation: forwards 1s hide_effect;
}

